
<a href="@Url.Action("GioHang", "GioHang")">
    <div style="border-bottom: none;" class="card-header bg-white">
        <i class="bx bx-cart-alt text-dark" style="font-size: 24px;"></i>
        <span class="number-cart">@ViewBag.TongSoLuong</span>
    </div>
</a>


